* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  --main-dark: #181818;
  --secondary-dark: #262626;
  --shade-dark: #292929;
  --primary-text-color: #8e9092;
  --secondary-text-color: #f2f2f2;
  --shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
  --border-color: #393839;
  --text-red: #f52936;
  --text-blue: #4894fd;
  --green-def: green;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  background-color: var(--green-def);
  border: none;
  outline: none;
  padding: 10px 20px;
  color: var(--secondary-text-color);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: var(--shadow);
  font-size: 14px;
}

header {
  width: 100%;
  margin-bottom: 30px;
  background-color: var(--secondary-dark);
  box-shadow: var(--shadow);
}

.hd-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.hd-logo {
  color: var(--green-def);
}

.hd-link {
  padding: 10px;
  color: var(--primary-text-color);
  font-size: 14px;
}

.hd-link:hover {
  text-decoration: none !important;
  background-color: var(--shade-dark);
}

.hd-user a {
  font-size: 14px;
  color: var(--primary-text-color);
}

.hd-user a:hover {
  text-decoration: underline;
}

.hd-wrap-right div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hd-wrap-right div button,
.hd-wrap-right div a {
  margin-left: 20px;
}

.main-flex {
  margin-bottom: 50px;
}

.post-card {
  display: flex;
  background-color: var(--secondary-dark);
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 5px;
  color: var(--color-text-primary);
  cursor: pointer;
  border: 1px solid var(--secondary-dark);
}

.post-card:hover {
  background-color: var(--shade-dark);
  border-color: var(--border-color);
}

.pc-details {
  display: flex;
  flex-direction: column;
}

.pc-author {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.pc-author a {
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.pc-author a:hover {
  color: var(--text-blue);
  text-decoration: underline;
}

.pc-info {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.pc-info .pc-info-title {
  font-size: 20px;
  color: var(--secondary-text-color);
  font-weight: 600;
  margin-bottom: 10px;
}

.pc-info a:hover {
  text-decoration: underline;
}

.pc-info p {
  color: var(--primary-text-color);
  line-height: 1.5;
}

.pc-actions {
  display: flex;
  justify-content: space-between;
}

.pc-actions-l {
  display: flex;
}

.pc-a-ic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-size: 14px;
  color: var(--primary-text-color);
  font-weight: 600;
  cursor: pointer;
}

.pc-a-ic span {
  margin-left: 5px;
}

.post-single-wrap {
  display: flex;
  background-color: var(--secondary-dark);
  padding: 20px;
  border-radius: 5px;
  flex-wrap: wrap;
}

.post-single h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
}

.post-single-info {
  margin-bottom: 30px;
}

.post-single-content {
  color: var(--secondary-text-color);
  padding: 0 20px;
  line-height: 1.5;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-hd {
  margin-bottom: 30px;
  color: var(--primary-text-color);
}

.form-hd h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.form-hd p {
  font-size: 20px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.form-wrap {
  background-color: var(--secondary-dark);
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  box-shadow: var(--shadow);
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-control label {
  margin-bottom: 7px;
  color: var(--primary-text-color);
}

.form-control input {
  height: 40px;
  padding: 10px;
  background-color: var(--main-dark);
  border: none;
  outline: none;
  color: var(--secondary-text-color);
  border-radius: 5px;
  font-size: 16px;
}

.form-btn-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form-info {
  display: flex;
  justify-content: center;
  color: var(--secondary-text-color);
  font-size: 14px;
}

.form-info a {
  color: var(--primary-text-color);
}

/* loading screen */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loader-div {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--main-dark);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: relative;
  width: 10vw;
  height: 5vw;
  padding: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader span {
  position: absolute;
  height: 0.8vw;
  width: 0.8vw;
  border-radius: 50%;
  background-color: var(--green-def);
}

.loader span:nth-child(1) {
  animation: loading-dotsA 0.5s infinite linear;
}

.loader span:nth-child(2) {
  animation: loading-dotsB 0.5s infinite linear;
}

@keyframes loading-dotsA {
  0% {
    transform: none;
  }
  25% {
    transform: translateX(2vw);
  }
  50% {
    transform: none;
  }
  75% {
    transform: translateY(2vw);
  }
  100% {
    transform: none;
  }
}

@keyframes loading-dotsB {
  0% {
    transform: none;
  }
  25% {
    transform: translateX(-2vw);
  }
  50% {
    transform: none;
  }
  75% {
    transform: translateY(-2vw);
  }
  100% {
    transform: none;
  }
}

.burger-menu {
  /* width: 50px; */
  height: 100%;
  background-color: var(--border-color);
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;

  cursor: pointer;
  position: relative;

  display: none;
}

.burger-menu:hover span {
  background-color: var(--green-def);
}

/* .burger-menu:hover .hd-wrap-mobile {
  display: block;
} */

.hd-wrap-mobile.visible {
  display: block;
}

.burger-menu span {
  width: 7px;
  height: 7px;
  background-color: var(--main-dark);
  display: block;
  border-radius: 50%;
  margin: 0 2px;
}

.hd-wrap-mobile {
  position: absolute;
  width: 200px;
  max-height: 200px;
  top: 48px;
  right: 0;
  background-color: var(--secondary-dark);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 20px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  display: none;
  border: 5px solid var(--border-color);
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.hd-wrap-mobile .hd-user,
.hd-wrap-mobile div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hd-wrap-mobile .hd-user > *,
.hd-wrap-mobile > * {
  display: block;
  margin: 10px 0;
}

.hd-wrap-mobile .hd-user .hd-link {
  padding: 0;
}

.hd-wrap-mobile .hd-user .hd-link:hover {
  text-decoration: underline !important;
  color: var(--green-def);
}

@media only screen and (max-width: 600px) {
  /* body {
    background-color: blue;
  } */
  .hd-wrap-right {
    display: none;
  }

  .burger-menu {
    display: flex;
  }
}

.new-post-wrap {
  display: flex;
  flex-direction: column;
}

.form-editor {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-dark);
  padding: 20px;
}
.editor-control {
  margin-bottom: 30px;
}
.editor-control input {
  width: 100%;
  padding: 15px 20px;
  font-size: 18px;
  background-color: var(--main-dark);
  border: none;
  outline: none;
  border-radius: 5px;
  color: var(--primary-text-color);
}

.editor-control textarea {
  max-height: 400px;
}

/* timestamp */
.timestamp {
  color: var(--primary-text-color);
  font-size: 14px;
}

.action-btn-wrap {
  display: flex;
  margin-bottom: 30px;
}

.action-btn-wrap .action-btn {
  margin-right: 30px;
}

.danger {
  background-color: var(--text-red);
}
