* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  --main-dark: #181818;
  --secondary-dark: #262626;
  --shade-dark: #292929;
  --primary-text-color: #8e9092;
  --secondary-text-color: #f2f2f2;
  --shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
  --border-color: #393839;
  --text-red: #f52936;
  --text-blue: #4894fd;
  --green-def: green;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  background-color: var(--green-def);
  border: none;
  outline: none;
  padding: 10px 20px;
  color: var(--secondary-text-color);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: var(--shadow);
}

header {
  width: 100%;
  margin-bottom: 30px;
  background-color: var(--secondary-dark);
  box-shadow: var(--shadow);
}

.hd-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}

.hd-logo {
  color: var(--green-def);
}

.hd-link {
  padding: 10px;
}

.hd-link:hover {
  text-decoration: none !important;
  background-color: var(--shade-dark);
}

.hd-user a {
  font-size: 14px;
  color: var(--primary-text-color);
}

.hd-user a:hover {
  text-decoration: underline;
}

.hd-wrap-right div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hd-wrap-right div button,
.hd-wrap-right div a {
  margin-left: 20px;
}

.main-flex {
  display: flex;
  justify-content: space-between;
}

.sec-l {
  width: 150px;
}

.sec-c {
  width: 550px;
}

.sec-r {
  width: 220px;
}

.user-post-marked {
  border-left: 2px solid var(--green-def) !important;
}

.post-card {
  display: flex;
  background-color: var(--secondary-dark);
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 5px;
  color: var(--color-text-primary);
  cursor: pointer;
  border: 1px solid var(--secondary-dark);
}

.post-card:hover {
  background-color: var(--shade-dark);
  border-color: var(--border-color);
}

.pc-details {
  display: flex;
  flex-direction: column;
}

.pc-author {
  margin-bottom: 10px;
}

.pc-author a {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 600;
}

.pc-author a:hover {
  color: var(--text-blue);
  text-decoration: underline;
}

.pc-info {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.pc-info .pc-info-title {
  font-size: 20px;
  color: var(--secondary-text-color);
  font-weight: 600;
  margin-bottom: 10px;
}

.pc-info a:hover {
  text-decoration: underline;
}

.pc-info p {
  color: var(--primary-text-color);
  line-height: 1.5;
}

.pc-actions {
  display: flex;
  justify-content: space-between;
}

.pc-actions-l {
  display: flex;
}

.pc-a-ic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-size: 14px;
  color: var(--primary-text-color);
  font-weight: 600;
  cursor: pointer;
}

.pc-a-ic span {
  margin-left: 5px;
}

.post-single-wrap {
  display: flex;
}

.sec-post-l {
  width: 650px;
  background-color: var(--secondary-dark);
  padding: 20px;
  border-radius: 5px;
}

.post-single h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
}

.post-single-info {
  margin-bottom: 30px;
}
